@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #5fcf86;
  --primary10: #5fcf861a;
  --primary20: #5fcf8633;
  --primary40: #5fcf8666;
  --on-primary: #ffffff;
  --text: #000000;
  --backdrop: #04040499;
  --border: #d8dae5;
  --disabled: #cccccc;
  --on-disabled: #888888;
  --background: #f6f6f6;
  --surface: #0000000d;

  --red: #ff3333;
  --yellow: #ffc634;
  --black: #000000;
  --black5: #0000000d;
  --black10: #0000001a;
  --black20: #00000033;
  --black40: #00000066;
  --black60: #00000099;
  --black70: #000000b3;
  --white: #ffffff;

  --primary-font: "Inter", sans-serif;

  --z-index-header: 10;
  --z-index-filter: 10;
  --z-index-modal: 21;
  --z-index-backdrop: 20;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--text);
}

html {
  height: 100vh;
  background-color: var(--background);
}

body {
  @media screen and (min-width: 1024px) {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #cfcfcf;
      border-radius: 50px;
    }
  }
}

#root {
  background-color: transparent;
}

button,
a {
  all: unset;
  user-select: none;
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  font-family: var(--primary-font);

  ::-ms-reveal {
    display: none;
  }
}

svg {
  color: currentColor;

  * {
    color: currentColor;
  }
}

img {
  object-fit: cover;
  object-position: center;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--backdrop);
  z-index: var(--z-index-backdrop);
}

.page-layout {
  width: 100%;
  max-width: 1368px;
  padding: 0 24px;
  margin: 128px auto 120px;

  &.large-margin {
    margin-top: 240px;
  }
}

.invalid {
  font-size: 14px;
  color: var(--red);
  font-weight: 500;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--black20);
  margin: 16px 0;
}

.input-section {
  &:not(:first-child) {
    margin-top: 12px;
  }

  .label {
    margin-bottom: 4px;
  }
}
