* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a {
  all: unset;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #040404;
  opacity: 0.6;
  z-index: 1;
}
