@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

:root {
  --primary: #5fcf86;
  --on-primary: #ffffff;
  --text: #000000;
  --backdrop: #040404;
  --border: #d8dae5;
  --disabled: #cccccc;
  --on-disabled: #888888;
  --background: #f6f6f6;

  --red: #ff3333;
  --black: #000000;
  --black5: #0000000d;
  --black10: #0000001a;
  --black20: #00000033;
  --black40: #00000066;
  --white: #ffffff;

  --primary-font: 'Nunito Sans', sans-serif;

  --z-index-header: 10;
  --z-index-filter: 10;
  --z-index-modal: 20;
  --z-index-backdrop: 10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--text);
}

html {
  height: 100vh;
  background-color: var(--background);
}

#root {
  background-color: transparent;
}

button,
a {
  all: unset;
  user-select: none;
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  font-family: var(--primary-font);

  ::-ms-reveal {
    display: none;
  }
}

svg {
  color: currentColor;

  * {
    color: currentColor;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--backdrop);
  opacity: 0.6;
  z-index: var(--z-index-backdrop);
}

.page-layout {
  width: 100%;
  max-width: 1368px;
  padding: 0 24px;
  margin: 128px auto 120px;

  &.large-margin {
    margin-top: 240px;
  }
}

.invalid {
  font-size: 12px;
  color: var(--red);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--black20);
  margin: 16px 0;
}

.input-section {
  &:not(:first-child) {
    margin-top: 12px;
  }
}
