.Input {
  display: flex;
  align-items: stretch;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 2px;

  & + .Input {
    margin-top: 24px;
  }

  input {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;

    &:focus {
      border-color: var(--primary);
    }
  }

  button {
    font-size: 14px;
    padding: 0 8px;
    width: 25%;
    height: unset;
    border-radius: 6px;
    font-weight: 600;
  }

  .show-password,
  .hide-password {
    width: 20px;
    height: 20px;
    color: var(--black40);
    align-self: center;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
  }
}
