.content_center {
  text-align: center;
}
.container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  font-family: Roboto,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  color: #383c4f;
  display: block;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  font-size: 23px;
  margin-bottom: .75em;
}

.feature_divider {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  border: 0;
  border-color: #aaa;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

p {
  margin: 0 0 15 0;
  line-height: 1.6em;
}

.heading_title { 
  margin-top: 10px;
  
}

.picture {
  height: 100px;
}
.container_mg{
  margin-top: 200px;
  margin-bottom: 40px;
}