.Header {
  padding: 2px 280px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--border);
  display: flex;

  .grap-hf-left a {
    text-decoration: none;
  }

  .grap-hf-left {
    font-size: 14px;
    font-weight: 500;
    margin-left: auto;
    align-items: center;
  }

  .ADDDA-css {
    margin-right: 0px;
  }

  .dn-css button {
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid var(--black);
  }

  .dk-css button {
    background-color: var(--white);
    border: none;
    font-weight: 500;
    margin-right: 25px;
  }

  .sen-css {
    width: 1px;
    height: 25px;
    margin: 0px 30px;
    background-color: var(--border);
  }

  .tx-css {
    font-size: 15px;
    padding-left: 40px;
  }

  .icon-dd img {
    border-radius: 100%;
    margin-right: 15px;
    cursor: pointer;
  }

  .name_dd button {
    background-color: var(--white);
    border: none;
    font-weight: 500;
    margin-right: 25px;
  }

  .name_dd {
    cursor: pointer;
  }
}
