.Login {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .text_r {
    font-size: 14px;
    margin-top: 20px;
  }

  .switch {
    color: #39b062;
    text-decoration: none;
    cursor: pointer;
  }

  .forgot-password {
    color: #39b062;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
    margin: 12px 0;
  }

  .input-section {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }
}
