.Register {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .switch {
    color: #39b062;
    text-decoration: none;
    cursor: pointer;
  }

  .forgot-password {
    color: #39b062;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
    margin: 8px 0;
  }

  .input-section {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  .policy {
    margin: 16px 0;
  }
}
