.CarCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  border: 1px solid var(--border);
  padding: 12px;
  border-radius: 12px;
  background-color: var(--white);
  cursor: pointer;

  .imgs {
    width: 100%;
    height: 200px;

    img.car {
      border-radius: 12px;
      object-fit: cover;
      height: 100%;
    }
  }

  .car-name {
    font-size: 18px;
    font-weight: 700;
  }

  .car-info {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .block-info {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-top: 16px;

    span {
      font-weight: 500;
    }

    .star-icon {
      color: var(--yellow);
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    .car-count {
      display: flex;
    }
  }

  .actions {
    display: flex;
    align-items: stretch;
    gap: 12px;
    margin-top: 16px;

    > * {
      flex: 1;
    }
  }
}
