.CarRow {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--border);
  display: flex;
  align-items: stretch;
  gap: 24px;

  .status {
    font-size: 14px;
    color: var(--primary);
  }

  .car-img {
    width: 250px;
    height: 200px;
    border-radius: 16px;
  }

  .info {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 16px;
      font-weight: 700;
    }

    .car-info {
      .block-info {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 8px;

        &.smallTxt {
          font-size: 14px;

          &:first-child {
            margin-top: 12px;
          }
        }

        .star-icon {
          color: var(--yellow);
        }
      }

      .icon {
        width: 24px;
        height: 24px;
      }

      .car-price {
        .price {
          font-weight: 700;
          font-size: 24px;
          color: var(--primary);
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: auto;

      .view {
        cursor: pointer;
      }
    }
  }
}
