.Filter {
  position: fixed;
  top: 80px; //height of header
  left: 0;
  right: 0;
  z-index: var(--z-index-filter);

  .top-section {
    background-color: var(--white);
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid var(--border);
  }

  .filter-input {
    width: 360px;
  }

  .filter-btns {
    display: flex;
    align-items: center;
    gap: 16px;

    .filter-btn {
      font-weight: 400;
      height: 36px;
      padding: 0 16px;
    }
  }

  .filter-section {
    width: 60%;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;

    // &:not(:has(.filter-child-section.active)) {
    //   padding: 0;
    // }

    .filter-child-section {
      align-items: stretch;
      gap: 16px;
      grid-template-columns: repeat(3, 1fr);
      // display: none;
      display: grid;

      &.active {
      }

      &.automaker {
        grid-template-columns: repeat(6, 1fr);
      }
    }

    .filter-child-btn {
      flex-direction: column;
      font-weight: 400;
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .btn {
      &-type {
        img {
          width: 40px;
          height: 40px;
        }
      }

      &-automaker {
        img {
          width: 32px;
        }
      }
    }
  }
}
