.LeaseHistory {
  .grap_sen_car {
    border-bottom: 0.5px solid rgb(180, 180, 180);
    padding-bottom: 30px;
  }
  .grap_sen_car2 {
    padding-bottom: 30px;
  }
  .no_car_txt {
    font-weight: 600;
    font-size: 15px;
    color: #717070;
  }
  .car_img_css {
    border-radius: 20px;
  }

  .item-car_name {
    color: #000;
    font-size: 1rem;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .item-car_status {
    color: #767676;
    font-size: 12px;
  }

  .item_car_price {
    font-size: 0.875rem;
    font-weight: 500;
    color: #4b4b4b;
  }

  .item-car_address {
    font-size: 12px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-gap: 4px;
    gap: 4px;
  }
  .grap_car_pro {
    border-radius: 20px;
    border: 1px solid rgb(200, 200, 200);
    padding: 15px 5px;
  }
  .btn-delete_car {
    border: none;
    background-color: white;
    padding-top: 20px;
  }

  .ccs_grap_commom {
    padding: 20px;
    position: fixed;
    z-index: 10;
    background-color: white;
    left: 37%;
    top: 10%;
    right: 37% !important;
    border-radius: 10px;
  }

  .cs-btn-cm {
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .btn_cm {
    cursor: pointer;
    color: #9c9c9c;
  }
  .xm-text {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #000000;
    font-weight: 600;
  }
  .grap_history {
    padding: 20px 0px;
  }
  .grap_history_all {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin: 0px !important;
  }
  .status_commonn {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
  }
  .status_commonn:hover {
    color: #25c55d;
    font-weight: 500;
  }
  .grap_sen_his {
    margin: 20px 0px;
    border-bottom: 1px solid rgb(180, 180, 180);
  }
  .click_staus {
    color: #25c55d;
    font-weight: 500;
  }
}
