

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  color: #000;
}
.header-grap {
  padding: 2px 280px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.search-grap {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: 110px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Đổ bóng */
    z-index: 1;
}

.grap-hf-left a {
  text-decoration: none;
  color: black;
}
.grap-hf-left {
  font-size: 14px;
  color: black;
  font-weight: 500;
  margin-left: auto;
  align-items: center;
}
.ADDDA-css {
  margin-right: 0px;
}
.dn-css button {
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}
.dk-css button {
  background-color: white;
  border: none;
  font-weight: 500;
  margin-right: 25px;
}
.sen-css {
  width: 1px;
  height: 25px;
  margin: 0px 30px;
  background-color: rgb(216, 216, 216);
}
.tx-css {
  font-size: 15px;
  padding-left: 40px;
}
.icon-dd img {
  border-radius: 100%;
  margin-right: 15px;
  cursor: pointer;
}
.name_dd button {
  background-color: white;
  border: none;
  font-weight: 500;
  margin-right: 10px;
}
.name_dd {
  cursor: pointer;
}
.input_search_css{
  width: 300px;
  border-radius: 20px;
  border: 1px solid #adadab;
  height: 35px;
  padding-left: 20px;
  margin-top: 10px;
  color: #5a5a5a;
  padding: 5px 20px;
}
.input_search_css:focus{
  border: 1px solid #adadab;
  outline: none;
}
.icon_search_icss{
  position: absolute;
  right: 9px;
  top: 20px;
  cursor: pointer;
}
.btn-common-icon-search-car{
  font-size: 15px;
  font-weight: 400;
  color: #555454;
  padding: 6px 25px;
  border: 1px solid #adadab;
  text-decoration: none;
  border-radius: 10px;
}
.btn-common-icon-search-car a{
  text-decoration: none;
  color: #6d6d6d;
}
.btn-common-icon-search-car a:hover{
  color: #6d6d6d;
  cursor: pointer;
}
.grap-type-car{
  position: absolute;
  top: 40px;
  left: -240px;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 16px 16px 0 rgba(15,15,15,.2); 
  padding: 20px 5px;
  display: none !important;
}

.grap-type-car-model{
  position: absolute;
  top: 40px;
  left: -240px;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 16px 16px 0 rgba(15,15,15,.2); 
  padding: 20px 5px;
  display: none !important;
}

.grap-type-car-cd{
  position: absolute;
  top: 50px;
  left: -240px;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 16px 16px 0 rgba(15,15,15,.2); 
  padding: 15px 5px;
  display: none !important;
}
.grap-type-car-price{
  position: absolute;
  top: 50px;
  left: -10px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 16px 16px 0 rgba(15,15,15,.2); 
  padding: 15px 25px;
  display: none !important;
}

a{
  text-decoration: none;
}
.cl_c{
  padding-top: 15px;
  color: #404040 !important;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  height: 110px;
  text-align: center;
}
.cl_c a{
  color: #404040;
}

.model_item_do{
  padding-top: 15px;
  color: #404040 !important;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  height: 100px;
  text-align: center;
}


.model_item_do a{
  color: #404040;
}


.model_item_model{
  padding: 10px;
  padding-left: 20px;
  color: #404040 !important;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  text-align: center;
}


.model_item_model a{
  color: #404040;
}


.btn-search-by-type::before{
  content: '';
  width: 100px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 25.6px;
  left: -8px;
  background: transparent;
  cursor: pointer;
}

.btn-search-by-type-cd::before{
  content: '';
  width: 200px;
  height: 40px;
  background-color: red;
  position: absolute;
  top: 25.6px;
  left: -20px;
  cursor: pointer;
  background: transparent;
}

.btn-search-by-type-price::before{
  content: '';
  width: 200px;
  height: 40px;
  background-color: red;
  position: absolute;
  top: 25.6px;
  left: -20px;
  cursor: pointer;
  background: transparent;
}

.btn-search-by-model::before{
  content: '';
  width: 100px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 25.6px;
  left: -8px;
  background: transparent;
  cursor: pointer;
}

.cu_point{
  cursor: pointer;
}
.btn-search-by-type:hover .grap-type-car{
  display: flex !important;
}

.btn-search-by-type-cd:hover .grap-type-car-cd{
  display: flex !important;
}

.btn-search-by-type-price:hover .grap-type-car-price{
  display: flex !important;
}

.hover_change_color a:hover{
  font-weight: 700;
}
.btn-search-by-model:hover .grap-type-car-model{
  display: flex !important;
}

.std_css{
  height: 50px;
  border-color: #6d6d6d;
}
.contai-grap{
  position: relative;
  padding: 20px 270px;
  z-index: 0;
}
.grap-car_pro{
  border-radius: 10px;
  border: 1px solid #b1aeae;
  padding: 15px 15px 30px;
}
.grap-car_pro img{
  border-radius: 10px;
}
.car_pro_name{
  color: #000;
  font-size: 1rem;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.car_pro_name_address{
  display: flex;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  color: #767676;
  font-size: .75rem;
  font-weight: 500;
  line-height: 16px;

}
.car_pro_name_address i{
  color: #000;
}
.car_pro_name_sen{
  width: 100%;
  height: 1px;
  background-color: #9d9d9d;
  margin: 20px 0px;
}
.car_pro_name_rate{
  font-size: .75rem;
}
.rate_color{
  color: rgb(255, 198, 52);
}
.prire_color_ne{
  font-weight: 900;
  color: #20b000;
}
.logo_pro_ne{
  position: absolute;
  bottom: -15px;
  left: 20px;

}
.logo_pro_ne img{
  border-radius: 10px ;
  border: 3px solid white;

}
.grap_car_big:hover{
  margin-top: 25px !important;
}
.grap_car_big:hover .grap-car_pro{
  border-color: #20b000;
}
.img_widht_k{
  height: 170px !important;
 }


/* Định nghĩa một media query cho màn hình có chiều rộng lớn hơn hoặc bằng 768px */
@media screen and (min-width:1620px) {
 .img_widht_k{
  height: 270px !important;
 }
 .car_img_css{
  height: 270px !important;
 }
}

@media screen and (max-width:1320px) {
  .img_widht_k{
   height: 120px !important;
  }
 }