.header-grap{
    padding: 2px 280px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(223, 223, 223);
    z-index: 2;
}
body{

}
.grap-hf-left a{
    text-decoration: none;
    color: black;
}
.grap-hf-left{
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-left: auto;
    align-items: center;
}
.ADDDA-css{
    margin-right: 0px;
}
.dn-css button{
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}
.dk-css button{
    background-color: white;
    border: none;
    font-weight: 500;
    margin-right: 25px;
}
.sen-css{
    width: 1px;
    height: 25px;
    margin: 0px 30px;
    background-color: rgb(216, 216, 216);
}
.tx-css{
    font-size: 15px;
    padding-left: 40px;
}
.icon-dd img{
    border-radius: 100%;
    margin-right: 15px;cursor: pointer;
}
.name_dd button{
    background-color: white;
    border: none;
    font-weight: 500;
    margin-right: 25px;
}
.name_dd{
    cursor: pointer;
}