.bg-dr{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #040404;
    opacity: 0.6;
    z-index: 1;
}
.grap_form_login{
    padding: 20px;
    position: fixed;
    z-index: 2;
    background-color: white;
    left: 37%;
    top: 10%;
    width: 450px;
    height: 500px;
    z-index: 1;
    border-radius: 10px;
}
.close_button_grap{
    display: flex;
    align-items: end;
    justify-content: end;
    
}
.btn_cls{
    cursor: pointer;
    color: #9c9c9c;
}
.icon-cl{
    font-size: 23px;
}
.login-text{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: #595959;
    font-weight: 600;
}
.text_phone{
    font-size: 14px;
    color: #717070;
    font-weight: 500;
    margin-bottom: 3px;
    margin: 5px 0px;
}
.input_css{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #d8dae5;
}
.text_pass{
    display: flex;
    justify-content: end;
    padding: 10px 0px 20px;
    color: #64d089;
    font-size: 14px;
    font-weight: 600;
}
.btn_fo{
    cursor: pointer;
}
.btn_login{
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    background-color: #5fcf86;
    border-color: #5fcf86;
    padding: 14px 0px ;
    border-radius: 10px;
}
.text_r{
    font-size: 14px;
    margin-top: 20px;
}
.a_h{
    color: #39b062;
    text-decoration: none;
}
.file_css{
    padding: 10px;
}
.file{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: #d30000;
}
input:focus {
    border: 1px solid #d8dae5;
    outline: none;
    /* Các thuộc tính khác có thể được đặt theo ý muốn của bạn */
}