.grap-rc{
    background-color: #f6f6f6;
    position: fixed;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 60px;
    padding-top: 70px;
}
.grap-kk{
    background-color: #f6f6f6;
    padding-bottom: 100px;
}
.grap-rc2{
    background-color: hsl(0, 97%, 52%);
    height: 100%;
}
.grap-rc img{
    width: 350px;
}
.fw-800{
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
}
.btn-mioto{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #5fcf86;
    padding: 13px 35px;
    font-size: 18px;
    font-weight: 400;
}

.xm-text{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #000000;
    font-weight: 600;
}
.xm-text2{
    text-align: center;
    padding: 5px;
    font-size: 12px;
    color: #595959;
    font-weight: 400;
}
.btn_cm{
    cursor: pointer;
    color: #9c9c9c;
}
.cs-btn-cm{
    display: flex;
    align-items: end;
    justify-content: end;
    
}

.ccs_grap_commom{
    padding: 20px;
    position: fixed;
    z-index: 10;
    background-color: white;
    left: 37%;
    top: 10%;
    right: 37% !important;
    border-radius: 10px;
}
.popup_cccd{
    top: 2%;
}
.resign_car{
    margin-top: 130px;
    width: 800px;
    padding: 50px 100px;
    background-color: white;
    border-radius: 10px;
}
.bg-dr{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #040404;
    opacity: 0.6;
    z-index: 5;
}
.cm-text{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #595959;
    font-weight: 600;
}
.cm-text_m{
    padding: 5px;
}
.input_cm{
    font-size: 14px;
    color: #717070;
    font-weight: 500;
    margin-bottom: 3px;
    margin: 5px 0px;
}

.input_cm_min{
    font-size: 12px;
    color: #717070;
    font-weight: 500;
    margin-bottom: 3px;
    margin: 5px 0px;
}
.cm-text_m{
    font-size: 20px;
}
.input_cm2{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #d8dae5;
    height: 40px;
}
.btn_click_cm{
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    background-color: #5fcf86;
    border-color: #5fcf86;
    padding: 14px 0px ;
    border-radius: 10px;
}
.btn_back_cm{
    cursor: pointer;
    font-weight: 700;
    color: #7d7d7d;
    padding: 14px 0px ;
    border-radius: 10px;
    border: 1px solid #979797;
}
.btn-none-click{
    pointer-events: none;
    opacity: 0.4;
}
input:focus {
    border: 1px solid #d8dae5;
    outline: none;
    /* Các thuộc tính khác có thể được đặt theo ý muốn của bạn */
}
.cm_css_lb_img{
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    overflow: hidden;
}
.img-width-form{
    width: 250px;
    height: 120px;
}
.img_max_wi{
    width: 350px;
    height: 130px;
}
.auto_hidden{
    overflow: hidden;
}
.fs-800{
    font-weight: 500;
}

.fs-700{
    font-weight: 700;
    color: #040404;
}
.fs-mm{
    font-size: 14px;
}
.p_ha{
    padding: 2px 0px;
}
.display_none{
    display: none;
}
.css_number_cm{

}
.font_cm{
    font-size: 12px;
    color: #9c9c9c;
}
.css_number_cm{
    background-color: #5fcf86;
    border-radius: 100%;
    color: white;
    width: 40px;
    height: 40px;
}
.font_x_cm{
    font-size: 12px;
    line-height: 35.6px;
    font-weight: 700;
}
.sen_botton_css{
    margin-top: 30px;
    width: 100%;
    height: 1px;
    background-color: #bebbbb;
}
.note_text_css{
    font-size: 12px;
    color: red;
    margin: 5px 0px;
}

.note_text_css2{
    font-size: 12px;
    color: rgb(140, 140, 140);
    margin: 5px 0px;
}
.per30_input{
    width: 50%;
}
.select_common option{
    font-size: 12px;
}
.select_common{
    color: #717070;
    font-weight: 400;
    font-size: 13px;
}
.next-btn{
    margin-left: auto;
}