.grap-pr {
  margin-top: 80px;
  background-color: #f6f6f6;
  padding: 50px 250px 0px;
  z-index: 10;
}
.grap-tttc {
  background-color: white;
  padding: 50px 30px 100px;
  border-radius: 10px;
}
.text-tttc {
  font-size: 1.5rem;
  font-weight: 600;
}
.fa-marker {
  margin-left: 15px;
  font-size: 16px;
}
.grap-dl {
  padding: 10px 15px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
}
.dl-text {
  color: #25c55d;
  font-size: 20px;
  margin-right: 10px;
}
.dl-text span {
  font-size: 30px;
  font-weight: 700;
}
.ch-text {
  color: #747474;
}
.grap-ns {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 20px;
}
.ns-text {
  font-size: 13px;
  color: #6d6d6d;
}
.ns-text-ns {
  font-weight: 500;
  font-size: 15px;
}
.img-l {
  border-radius: 15%;
}
.ha-css {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.grap_ic_left {
  width: 100;
  border-top: 1px solid #c2c2c2;
  padding-top: 10px;
}
.text-tttc2 {
  font-size: 1.5rem;
  font-weight: 800;
  padding: 20px 0px 30px;
}
.gp_22 {
  padding-left: 15px;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  color: #040404;
}
.selected_item {
  padding-left: 12px;
  border-left: 3px solid #25c55d;
}
.grap_all_ic {
  min-width: 20px;
}
.cs-ic {
  cursor: pointer;
}
/*  */
.bg-dr {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #040404;
  opacity: 0.6;
  z-index: 4;
}
.grap_form_edit {
  padding: 20px;
  position: fixed;
  z-index: 10;
  background-color: white;
  left: 37%;
  top: 10%;
  right: 37% !important;
  height: 500px;
  border-radius: 10px;
}
.phone_width {
  padding: 20px;
  position: fixed;
  z-index: 10;
  background-color: white;
  left: 37%;
  top: 10%;
  right: 37% !important;
  height: 500px;
  border-radius: 10px;
  height: 300px;
}
.mail_width {
  padding: 20px;
  position: fixed;
  z-index: 2;
  background-color: white;
  left: 37%;
  top: 10%;
  right: 37% !important;
  height: 500px;
  z-index: 10;
  border-radius: 10px;
  height: 300px;
}

.close_button_grap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.btn_cls {
  cursor: pointer;
  color: #9c9c9c;
}
.icon-cl {
  font-size: 23px;
}
.login-text {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  color: #595959;
  font-weight: 600;
}
.text_phone {
  font-size: 14px;
  color: #717070;
  font-weight: 500;
  margin-bottom: 3px;
  margin: 5px 0px;
}
.input_css2 {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #d8dae5;
}
.text_pass {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px 20px;
  color: #64d089;
  font-size: 14px;
  font-weight: 600;
}
.btn_fo {
  cursor: pointer;
}
.btn_login {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #5fcf86;
  border-color: #5fcf86;
  padding: 14px 0px;
  border-radius: 10px;
}
.text_r {
  font-size: 14px;
  margin-top: 20px;
}
.a_h {
  color: #39b062;
  text-decoration: none;
}
input {
  width: 100%;
  border: 1px solid #d8dae5;
  outline: none;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
  /* Các thuộc tính khác có thể được đặt theo ý muốn của bạn */
}

input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.btn_add_car {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #5fcf86;
  border-color: #5fcf86;
  padding: 14px 20px;
  border-radius: 10px;
}
.btn_add_car:hover {
  color: white;
}
.grap_sen_car {
  border-bottom: 0.5px solid rgb(180, 180, 180);
  padding-bottom: 30px;
}
.grap_sen_car2 {
  padding-bottom: 30px;
}
.no_car_txt {
  font-weight: 600;
  font-size: 15px;
  color: #717070;
}
.car_img_css {
  border-radius: 20px;
}

.item-car_name {
  color: #000;
  font-size: 1rem;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-car_status {
  color: #767676;
  font-size: 12px;
}

.item_car_price {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b4b4b;
}

.item-car_address {
  font-size: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-gap: 4px;
  gap: 4px;
}
.grap_car_pro {
  border-radius: 20px;
  border: 1px solid rgb(200, 200, 200);
  padding: 15px 5px;
}
.btn-delete_car {
  border: none;
  background-color: white;
  padding-top: 20px;
}

.ccs_grap_commom {
  padding: 20px;
  position: fixed;
  z-index: 10;
  background-color: white;
  left: 37%;
  top: 10%;
  right: 37% !important;
  border-radius: 10px;
}

.cs-btn-cm {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn_cm {
  cursor: pointer;
  color: #9c9c9c;
}
.xm-text {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  color: #000000;
  font-weight: 600;
}
.grap_history {
  padding: 20px 0px;
}
.grap_history_all {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin: 0px !important;
}
.status_commonn {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.status_commonn:hover {
  color: #25c55d;
  font-weight: 500;
}
.grap_sen_his {
  margin: 20px 0px;
  border-bottom: 1px solid rgb(180, 180, 180);
}
.click_staus {
  color: #25c55d;
  font-weight: 500;
}
.mainDiv {
	display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
	border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}

.cardStyle {
	margin-bottom: 20px;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

.inputLabel {
  font-size: 16px;
  color: #555;
  margin-bottom: 3px;
  margin-top: 24px;
}

.inputDiv {
	width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.buttonWrapper {
	margin-top: 20px;
}

.submitButton {
	width: 30%;
    height: 40px;
    margin: auto;
    display: block;
    color: gray;
    background-color: lightgray;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.submitButton:hover {
	width: 30%;
    height: 40px;
    margin: auto;
    display: block;
    color: lightgray;
    background-color: gray;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}
